.searchcontainer {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 gap: 1rem;
 
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-shadow: 1px 1px 10px;
    width: 60%;
    border-radius: 10px;
   
  }
  .search input {
     width: 100%;
     height: 50px;
     border-radius: 5px 0px 0px 5px ;
     color: #2F3C7E;
     font-size: 1.5rem;
     background-color: transparent;
     /* border: 1px solid gray ; */
     border: none;
     padding-left: 10px;
  
  }
  
  .search input::placeholder {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 182, 182);
    text-align: center;
    line-height: 1.5rem;
  }
  .search input:focus{
    outline: none;
  }
  .search button {
    height: 50px;
    width: 90px;
    background-color: transparent;
    border: none;
    border-radius: 0px 5px 5px 0px;
    

  }
  .search button:hover{
    cursor: pointer;
  }

  .searchresults{
    display: flex;
    flex-direction: column;
    background-color: #e7c3c5;
    width: 60%;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 130px;
    max-height: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px
  }
  .searchresultitem{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  .searchresultitem:hover{
    color: black;
  }

  @media (max-width: 300px) {
    .search { 
      width: 100%;
      margin: 5%;
     }
  }
  
  